body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

tbody td:hover {
    background-color: #f5f5f5;
}

.result-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.current-day {
    background-color: yellow;
    color: black; 
}

.select-day{
    background-color: #3498db;
}

.result-container h2 {
    margin-top: 0;
    color: #3498db;
}

.result-container ul {
    list-style-type: none;
    padding: 0;
}

.result-container ul li {
    margin-bottom: 10px;
}
